/* Write your CSS here */
body{
    border: 0.5px solid rgb(231, 231, 231);
    margin: 20px;
    padding: 20px;
    align-items: center;
}


.list-group{
    list-style: none;
    padding: 0px;
    border: 0.5px solid rgb(231, 231, 231);
    width: 50%;
    align-items: center;
    
    


}
.list-group-item{

    border: 0.5px solid rgb(141, 141, 135);
    height: 30px;
    
    border: 0.5px solid rgb(231, 231, 231);
    border-radius: 3px;
    align-items: center;
}