.two{
    height: 100px;
    width: auto;
    /* background-color: aqua; */
    display: flex;
    display:inline block;
    /* align-items: center; */
    justify-content: center;
}
.one{
    background-color: bisque;
    border: 2px solid black;
    width: 30%;
}